/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html,.stylelint{line-height:1}body,.stylelint{line-height:inherit}ol,ul,.stylelint{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/* Base Styles */

html {
  font-size: 1.25em;/* 20/16 = 1.25 */
  line-height: 1.875em;/* font-size * 1.5 = 1.875 */
  background-color: #1C1C1C;
  color: #E3E3E3;
  font-family: "Lucida Console", Monaco, monospace;
}

body {
}

nav {
  font-size: 1.5em;/* 24/16 = 1.5*/
  line-height: 2.25em;/* font-size * 1.5 = 2.25*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bolder;
	color: #1CE31C;
}

h1 {
  font-size: 1.75em;/* 28/16 = 1.75*/
  line-height: 2.625em;/* font-size * 1.5 = 2.625*/
}

h2 {
  font-size: 1.625em;/* 26/16 = 1.625*/
  line-height: 1.4375em;/* font-size * 1.5 = 2.4375*/
}

h3 {
  font-size: 1.5em;/* 24/16 = 1.5*/
  line-height: 2.25em;/* font-size * 1.5 = 2.25*/
}

h4 {
  font-size: 1.375em;/* 22/16 = 1.375*/
  line-height: 2.0625em;/* font-size * 1.5 = 2.0625*/
}

h5 {
  font-size: 1.25em;/* 20/16 = 1.25*/
  line-height: 1.875em;/* font-size * 1.5 = 1.875*/
}

h6 {
  font-size: 1.125em;/* 18/16 = 1.125*/
  line-height: 1.125em;/* font-size * 1.5 = 1.6875*/
}

p {
  font-size: 1em;/* 16/16 = 1*/
  line-height: 1em;/* 16/16 = 1*/
}

a {
  text-decoration: none;
  color: #3838C7;
  border-bottom: 2px dotted;
}

a:visited {
	color: #70708F;
}

a:hover,
a:active {
	color: #E3E31C;
}

.preview a {
  color: #FFFFFF; 
}

figure {
}

figcaption {
}
