/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html,.stylelint{line-height:1}body,.stylelint{line-height:inherit}ol,ul,.stylelint{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* Base size: 16px */
/* Ratio: Perfect fourth (3:4) */
/*
Table:
101.009px : 4.209em
75.776px : 3.157em
56.846px : 2.369em
42.645px : 1.777em
31.992px : 1.333em
24px : 1em
18.005px : 0.75em
*/
/* stylelint-enable */

/* Begin site styles below */

/* Base Styles */

html {
  font-size: 1em;
  line-height: 4.209em;
  background-color: #202020;
  color: #F3F3F3;
  font-family: "Lucida Console", Monaco, monospace;
  margin-left: 1.5em;
}

#content {
  margin-top: 7em;
}

nav {
  font-size: 1.777em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #55FF55;
}

h1,
h2,
h3,
h4 {
  font-weight: bolder;
}

h5,
h6 {
	font-weight: thin;
}

h1 {
  font-size: 3.157em;
}

h2 {
  font-size: 2.369em;
}

h3 {
  font-size: 1.777em;
}

h4,
h5,
h6 {
  font-size: 1.333em;
}

h2 {
  padding-top: 1.05225em; /* 4.209 / 4  */
}

h3 {
  padding-top: 0.526125em; /* 4.209 / 8  */
}

h4 {
  padding-top: 0.2630625em; /* 4.209 / 16  */
}

p, ol, ul {
  line-height: 2.1045em; /* 4.209 / 2  */
  font-family: "Arial Black", Gadget, sans-serif;
}

p {
  font-size: 1em;
}

ol,
ul {
  margin-left: 3em;
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: square;
}

a {
  text-decoration: none;
  color: #5555FF;
  border-bottom: 0.08em dotted;
  font-family: "Lucida Console", Monaco, monospace;
}

a:hover,
a:active {
  color: #2020FF;
}

/* Avoid over-padding nested lists - Credit to Karl Stolley */
li ol,
li ul,
li:last-child {
  padding-bottom: 0;
}

figure {
  text-align: center;
}

figure > img {
  transform: rotate(-90deg);
}

figcaption {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 0.75em;/* 12/16 = 0.75*/
}

#navigation {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

#navigation ul {
  margin-left: 0;
  margin-right: 0.4em;
}

#navigation li {
  list-style-type: none;
  text-align: center;
  float: left;
  width: 33.333%;
  background-color: #282828;
}

#navigation a {
  float: center;
  display: block;
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border: 0.3em solid #202020;
}
