/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html,.stylelint{line-height:1}body,.stylelint{line-height:inherit}ol,ul,.stylelint{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* Modular scale: 3:4 at 20px
63.147px 3.157em h1
47.372px 2.369em h2
35.538px 1.777em h3
26.660px 1.333em h4, h5, h6
20.000px 1.000em p, li
15.004px 0.750em figcaption
*/
/* stylelint-enable */

body {
  font-size: 1.25em;/* 20/16 */
  line-height: 2em;
  background-color: #202020;
  color: #F3F3F3;
  font-family: "Lucida Console", Monaco, monospace;
}

#content {
  padding-top: 4em;
  padding-left: 3%;
  padding-right: 3%;
}

article {
  padding-bottom: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #55FF55;
}

h1,
h2,
h3 {
  font-weight: bolder;
}

h4,
h5,
h6 {
	font-weight: thin;
}

h1 {
  font-size: 3.157em; /* 63.147 / 20 */
  line-height: 1.10852455382em; /* 70 / 63.147 */
  padding-bottom: 0.15836065054em; /* 10 / 63.147 */
}

h2 {
  font-size: 2.369em; /* 47.372 / 20 */
  line-height: 1.05547580849em; /* 50 / 47.372 */
  padding-bottom: 0.21109516169em; /* 10 / 47.372 */
}

h3 {
  font-size: 1.777em; /* 35.538 / 20 */
  line-height: 1.12555574315em; /* 40 / 35.538 */
  padding-bottom: 0.28138893578em; /* 10 / 35.538 */
}

h4 {
  font-size: 1.333em; /* 26.660 / 20 */
  line-height: 1.12528132033em; /* 30 / 26.660 */
  padding-bottom: 0.37509377344em; /* 10 / 26.660 */
}

h3 + h4 {
  padding-top: 0.5em;
}

p, ol, ul, figure {
  font-family: "Arial Black", Gadget, sans-serif;
}

p {
  font-size: 1em;
}

ol,
ul {
  padding-left: 2em;
}

ul {
  list-style-type: square;
}

li {
}

p + h4,
ul + h4,
ol + h4 {
  padding-top: 0.75018754688em; /* 20 / 26.660 */
}

a {
  text-decoration: none;
  color: #5555FF;
  font-family: "Lucida Console", Monaco, monospace;
}

a:hover,
a:active {
  color: #2020FF;
}

/* Avoid over-padding nested lists - Credit to Karl Stolley */
li ol,
li ul,
li:last-child {
  padding-bottom: 0;
}

figure {
  text-align: center;
  padding-bottom: 1em;
}

figure > img {
  margin-left: auto;
  margin-right: auto;
  display: block;
	width: 50%;
  padding-bottom: 0;
}

figcaption {
  font-size: 0.750em; /* 15.004 / 20 */
  line-height: 1.33297787257em; /* 20 / 15.004 */
  padding-top: 0.33324446814em; /* 5 / 15.004 */
  padding-bottom: 0.33324446814em; /* 5 / 15.004 */
}

#navigation {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

#navigation ul {
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
}

#navigation li {
  line-height: 4em;
  list-style-type: none;
  text-align: center;
  float: left;
  width: 33.3333%;
  background-color: #282828;
  padding-bottom: 0;
}

#navigation a {
  text-align: center;
  display: block;
  width: 100%;
}


@media screen and (min-width: 600px) {
  #navigation li {
    line-height: 3em;
  }

  #content {
    padding-top: 3em;
  }

  figure > img {
  	width: 40%;
  }
}

@media screen and (min-width: 900px) {
  #navigation li {
    line-height: 2em;
  }

  #content {
    padding-top: 2em;
  }

  figure > img {
  	width: 30%;
  }
}
