/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html,.stylelint{line-height:1}body,.stylelint{line-height:inherit}ol,ul,.stylelint{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  src: local('Montserrat'), url(/wip/fonts/Montserrat-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'MontserratLight';
  font-weight: 100;
  src: local('Montserrat Light'), url(/wip/fonts/Montserrat-Light.ttf) format('truetype');
}

body {
  font-size: 1em;/* 16/16 */
  font-family: 'Montserrat';
  font-weight: normal;
  line-height: 1em;
  color: #55FF55;
  background-color: #202020;
  padding-top: 3em;
  padding-left: 3%;
  padding-right: 3%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'MontserratLight';
}

h1 {
  font-size: 2em;
  line-height: 1.5em;
}

h2 {
  font-size: 1.7em;
  line-height: 1.5em;
}

h3, h4, h5, h6 {
  font-size: 1.3em;
  line-height: 1.5em;
}

p, li {
  font-size: 1em;
  line-height: 1.2em;
}

#navigation {
  display: none;
  left: 0;
}

